/***
    The new CSS reset - version 1.7.2 (last updated 23.6.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/*Recet css*/
/*******************************************************************************************************************/
/*main css*/

:root{
  /*定数*/
  --nav_width: 230px;
  --header_height: 80px;
  --footer_height: 25px;
  --icon_width: 40px;
  --nav_bar_height: 16px;
  --nav_bar_width: 14px;
  --main_padding: 70px;
}

*{
  transition:0.5s;
}

html{
  height: 100%;
}
body{
  font-family: "Meiryo UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN","Yu Gothic UI", "MS PGothic", sans-serif;
  height: 100%;
  color:#454545;
}

header{
  overflow:hidden;
  height: var(--header_height);
  background-color:rgba(255, 255, 255, 0.9); /*#FC9D9D*/
  backdrop-filter: blur(30px);
  position:fixed;
  left: 0px;
  width: 100%;
  color:black;
  z-index: 9;
  border-bottom: 1px solid #dcdcdc;
}

.nav-bar{
  height: var(--nav_bar_height);
  width: var(--nav_bar_width);
  padding-top: calc((var(--header_height) - var(--nav_bar_height))/2);
  padding-bottom: calc((var(--header_height) - var(--nav_bar_height))/2);   
  padding-left: calc((var(--header_height) - var(--nav_bar_height))/2 + calc((var(--nav_bar_height) - var(--nav_bar_width))/2));
  margin-right: calc((var(--header_height) - var(--nav_bar_height))/2 + calc((var(--nav_bar_height) - var(--nav_bar_width))/2));
  cursor: pointer;
  float: left;
  color:black;
}

.home_icon{
  height: var(--icon_width);
  width: var(--icon_width);
  margin: calc((var(--header_height) - var(--icon_width))/2);
  float: left;
}

header h1{
  line-height: var(--header_height);
  margin-left:calc(var(--nav_width) - (var(--header_height) * 2));
  padding-left: var(--main_padding);
  padding-right: var(--main_padding);
  font-size: 20px;
  font-weight: bold;
  float:left;
}

nav{
  width: var(--nav_width);
  margin-top: var(--header_height);
  height:calc(100% - var(--header_height));
  background-color:white; /*#1b1b1b*/
  position:fixed;
  left:0px;
  z-index: 9;

  /* 縦方向のスクロールバーを表示 */
  overflow-y: auto;

  /* IE などのスクロールバーの色設定 */
  scrollbar-face-color: #999; /*#999*/
  scrollbar-track-color: #eee;  /*#eee*/
  /* スマホ用の慣性スクロール */
  -webkit-overflow-scrolling: touch;
}
nav::-webkit-scrollbar{
  width: 1px;
}
nav::-webkit-scrollbar-thumb {
  background: #dcdcdc;  /*rgba(0, 0, 0, 0.3)*/
}
nav::-webkit-scrollbar-track {
  background: #dcdcdc; /*rgba(0, 0, 0, 0.1)*/
}
nav ul{
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 50px;
}
nav li{
  line-height: 3;
  color: #dcdcdc;
}
nav a{
  color: #8b8b8b;
  text-decoration: none;
}

.space{
  width: var(--nav_width);
  height:100vh;
  float:left;
}

main{
  overflow:hidden;
  background-color:white;/*#EEF9FF*/
  box-sizing: border-box;
  min-height: calc(100% - var(--footer_height));
  padding: var(--main_padding);
  padding-top: calc(var(--header_height) + 50px);
}

main h1{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 3px solid #000;
}
main h2{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  border-left: 4px solid #666565;
}
main h3{
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
  border-bottom:solid 3px #1b1b1b;
}
main h4{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
}
main h5{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
}
main h6{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
}
main p{
  line-height: 20px;
}
main a{
  word-break: break-all;
}
main ul{
  list-style: disc;
  list-style-position: inside;
  margin-top: 10px;
  margin-bottom: 10px;
}
main ol{
  counter-reset: count 0;
  list-style-position: inside;
  margin-top: 10px;
  margin-bottom: 10px;
}
main ol li::before{
  content: counter(count) ". ";
  counter-increment: count 1;
}

footer{
  position: sticky;
  top: 100vh;
  height: var(--footer_height);
  overflow:hidden;
  background-color:white;/*#c9c8c8*/
  text-align: center;
  color: #545454;
}

footer small{
  margin-right: 10px;
  margin-left: 10px;
  line-height: var(--footer_height);
}

footer a{
  color: #545454;
  text-decoration:underline;
}

/*******************************************************************************************************************/
/*表関係のcss*/

table {
  border-collapse: collapse;
  table-layout: fixed;
}

th {
  border: 1px solid grey;
  padding: 3px 10px;
  background: #ddd;
  font-weight: bold;
  text-align: center;
}

.item {
  border: 1px solid grey;
  padding: 3px 10px;
  background: #ddd;
  font-weight: bold;
  text-align: center;
}

.value {
  border: 1px solid grey;
  padding: 3px 10px;
  cursor: pointer;
  width: 100px;
}


/*******************************************************************************************************************/
/*動きのcss*/

.hidden-nav_header{
  width: 0px;
}

.hidden-space{
  width: 0px;
}

.hidden-nav{
  left: calc(-1 * var(--nav_width));
}

.nav-bar-white{
  color:#b6b6b6;/*#928484*/
}

.nav-highlight{
  color: black;
  font-weight: bold;
  font-size: 20px;
}

/*******************************************************************************************************************/
/*レスポンシブ css*/

@media screen and (max-width: 600px){
  main{
    padding-left: 20px;
    padding-right: 20px;
  }
  header h1{
    margin-left: 0px;
    padding-left: 10px;
  }
}